<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.official.mapper.RouterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spring.official.domain.entity.RouterEntity">
            <id column="id" property="id"/>
            <id column="parent_id" property="parentId"/>
            <id column="path" property="path"/>
            <id column="route_name" property="routeName"/>
            <id column="component" property="component"/>
            <id column="redirect" property="redirect"/>
            <id column="menu_type" property="menuType"/>
            <id column="meta" property="meta"/>
            <id column="create_user" property="createUser"/>
            <id column="update_user" property="updateUser"/>
            <id column="update_time" property="updateTime"/>
            <id column="create_time" property="createTime"/>
            <id column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,parent_id,path,route_name,component,redirect,menu_type,meta,create_user,update_user,update_time,create_time,is_deleted
    </sql>

    <!-- 分页查询系统菜单表内容 -->
    <select id="selectListByPage" resultType="com.spring.official.domain.vo.RouterVo">
        select
        base.*,
        create_user.username as create_username,
        update_user.username as update_username
        from sys_router base
        left join sys_user create_user on create_user.id = base.create_user
        left join sys_user update_user on update_user.id = base.update_user
        <where>
            base.is_deleted = 0
                <if test="dto.id != null and dto.id != ''">
                    and base.id like CONCAT('%',#{dto.id},'%')
                </if>
                <if test="dto.parentId != null and dto.parentId != ''">
                    and base.parent_id like CONCAT('%',#{dto.parentId},'%')
                </if>
                <if test="dto.path != null and dto.path != ''">
                    and base.path like CONCAT('%',#{dto.path},'%')
                </if>
                <if test="dto.routeName != null and dto.routeName != ''">
                    and base.route_name like CONCAT('%',#{dto.routeName},'%')
                </if>
                <if test="dto.component != null and dto.component != ''">
                    and base.component like CONCAT('%',#{dto.component},'%')
                </if>
                <if test="dto.redirect != null and dto.redirect != ''">
                    and base.redirect like CONCAT('%',#{dto.redirect},'%')
                </if>
                <if test="dto.menuType != null and dto.menuType != ''">
                    and base.menu_type like CONCAT('%',#{dto.menuType},'%')
                </if>
                <if test="dto.meta != null and dto.meta != ''">
                    and base.meta like CONCAT('%',#{dto.meta},'%')
                </if>
                <if test="dto.createUser != null and dto.createUser != ''">
                    and base.create_user like CONCAT('%',#{dto.createUser},'%')
                </if>
                <if test="dto.updateUser != null and dto.updateUser != ''">
                    and base.update_user like CONCAT('%',#{dto.updateUser},'%')
                </if>
                <if test="dto.updateTime != null and dto.updateTime != ''">
                    and base.update_time like CONCAT('%',#{dto.updateTime},'%')
                </if>
                <if test="dto.createTime != null and dto.createTime != ''">
                    and base.create_time like CONCAT('%',#{dto.createTime},'%')
                </if>
                <if test="dto.isDeleted != null and dto.isDeleted != ''">
                    and base.is_deleted like CONCAT('%',#{dto.isDeleted},'%')
                </if>
        </where>
    </select>

</mapper>
