<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.step1.mapper.EmailTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spring.step1.bean.entity.EmailTemplateEntity">
        <id column="id" property="id"/>
        <id column="template_name" property="templateName"/>
        <id column="email_user" property="emailUser"/>
        <id column="subject" property="subject"/>
        <id column="body" property="body"/>
        <id column="type" property="type"/>
        <id column="is_default" property="isDefault"/>
        <id column="create_time" property="createTime"/>
        <id column="update_time" property="updateTime"/>
        <id column="create_user" property="createUser"/>
        <id column="update_user" property="updateUser"/>
        <id column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,template_name,email_user,subject,body,type,is_default,create_time,update_time,create_user,update_user,is_deleted
    </sql>

    <!-- 分页查询邮件模板表内容 -->
    <select id="selectListByPage" resultType="com.spring.step1.bean.vo.EmailTemplateVo">
        select
        base.*,
        create_user.username as create_username,
        update_user.username as update_username
        from sys_email_template base
        left join sys_user create_user on create_user.id = base.create_user
        left join sys_user update_user on update_user.id = base.update_user
        <where>
            base.is_deleted = 0
            <if test="dto.id != null and dto.id != ''">
                and base.id like CONCAT('%',#{dto.id},'%')
            </if>
            <if test="dto.templateName != null and dto.templateName != ''">
                and base.template_name like CONCAT('%',#{dto.templateName},'%')
            </if>
            <if test="dto.emailUser != null and dto.emailUser != ''">
                and base.email_user like CONCAT('%',#{dto.emailUser},'%')
            </if>
            <if test="dto.subject != null and dto.subject != ''">
                and base.subject like CONCAT('%',#{dto.subject},'%')
            </if>
            <if test="dto.body != null and dto.body != ''">
                and base.body like CONCAT('%',#{dto.body},'%')
            </if>
            <if test="dto.type != null and dto.type != ''">
                and base.type like CONCAT('%',#{dto.type},'%')
            </if>
            <if test="dto.isDefault != null and dto.isDefault != ''">
                and base.is_default like CONCAT('%',#{dto.isDefault},'%')
            </if>
            <if test="dto.createTime != null and dto.createTime != ''">
                and base.create_time like CONCAT('%',#{dto.createTime},'%')
            </if>
            <if test="dto.updateTime != null and dto.updateTime != ''">
                and base.update_time like CONCAT('%',#{dto.updateTime},'%')
            </if>
            <if test="dto.createUser != null and dto.createUser != ''">
                and base.create_user like CONCAT('%',#{dto.createUser},'%')
            </if>
            <if test="dto.updateUser != null and dto.updateUser != ''">
                and base.update_user like CONCAT('%',#{dto.updateUser},'%')
            </if>
            <if test="dto.isDeleted != null and dto.isDeleted != ''">
                and base.is_deleted like CONCAT('%',#{dto.isDeleted},'%')
            </if>
        </where>
    </select>

</mapper>
