<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.step1.mapper.MessageReceivedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spring.step1.bean.entity.MessageReceivedEntity">
        <id column="id" property="id"/>
        <id column="received_user_id" property="receivedUserId"/>
        <id column="message_id" property="messageId"/>
        <id column="status" property="status"/>
        <id column="create_time" property="createTime"/>
        <id column="update_time" property="updateTime"/>
        <id column="update_user" property="updateUser"/>
        <id column="create_user" property="createUser"/>
        <id column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,received_user_id,message_id,status,create_time,update_time,update_user,create_user,is_deleted
    </sql>

    <!-- 分页查询内容 -->
    <select id="selectListByPage" resultType="com.spring.step1.bean.vo.MessageReceivedVo">
        select
        base.*,
        create_user.username as create_username,
        update_user.username as update_username
        from sys_message_received base
        left join sys_user create_user on create_user.id = base.create_user
        left join sys_user update_user on update_user.id = base.update_user
        <where>
            base.is_deleted = 0
            <if test="dto.id != null and dto.id != ''">
                and base.id like CONCAT('%',#{dto.id},'%')
            </if>
            <if test="dto.receivedUserId != null and dto.receivedUserId != ''">
                and base.received_user_id like CONCAT('%',#{dto.receivedUserId},'%')
            </if>
            <if test="dto.messageId != null and dto.messageId != ''">
                and base.message_id like CONCAT('%',#{dto.messageId},'%')
            </if>
            <if test="dto.status != null and dto.status != ''">
                and base.status like CONCAT('%',#{dto.status},'%')
            </if>
            <if test="dto.createTime != null and dto.createTime != ''">
                and base.create_time like CONCAT('%',#{dto.createTime},'%')
            </if>
            <if test="dto.updateTime != null and dto.updateTime != ''">
                and base.update_time like CONCAT('%',#{dto.updateTime},'%')
            </if>
            <if test="dto.updateUser != null and dto.updateUser != ''">
                and base.update_user like CONCAT('%',#{dto.updateUser},'%')
            </if>
            <if test="dto.createUser != null and dto.createUser != ''">
                and base.create_user like CONCAT('%',#{dto.createUser},'%')
            </if>
            <if test="dto.isDeleted != null and dto.isDeleted != ''">
                and base.is_deleted like CONCAT('%',#{dto.isDeleted},'%')
            </if>
        </where>
    </select>

</mapper>
