<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.step2.mapper.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spring.step2.domain.entity.UsersEntity">
        <id column="username" property="username"/>
        <id column="password" property="password"/>
        <id column="Id" property="id"/>
        <id column="email" property="email"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        username,password,Id,email
    </sql>

    <!-- 分页查询内容 -->
    <select id="selectListByPage" resultType="com.spring.step2.domain.vo.UsersVo">
        select
        <include refid="Base_Column_List"/>
        from users
        <where>
            <if test="dto.username != null and dto.username != ''">
                and username like CONCAT('%',#{dto.username},'%')
            </if>
            <if test="dto.email != null and dto.email != ''">
                and email like CONCAT('%',#{dto.email},'%')
            </if>
        </where>
    </select>

</mapper>
