<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.step2.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spring.step2.domain.entity.RoleEntity">
        <id column="id" property="id"/>
        <id column="role_name" property="roleCode"/>
        <id column="description" property="description"/>
        <id column="remark" property="remark"/>
        <id column="create_time" property="createTime"/>
        <id column="update_time" property="updateTime"/>
        <id column="create_user" property="createUser"/>
        <id column="update_user" property="updateUser"/>
        <id column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,role_name,description,remark,create_time,update_time,create_user,update_user,is_deleted
    </sql>

    <!-- 分页查询系统角色表内容 -->
    <select id="selectListByPage" resultType="com.spring.step2.domain.vo.RoleVo">
        select
        *
        from t_role
        <where>
            is_deleted = 0
            <if test="dto.id != null and dto.id != ''">
                and id like CONCAT('%',#{dto.id},'%')
            </if>
            <if test="dto.roleCode != null and dto.roleCode != ''">
                and role_code like CONCAT('%',#{dto.roleCode},'%')
            </if>
            <if test="dto.description != null and dto.description != ''">
                and description like CONCAT('%',#{dto.description},'%')
            </if>
            <if test="dto.remark != null and dto.remark != ''">
                and remark like CONCAT('%',#{dto.remark},'%')
            </if>

        </where>
    </select>

</mapper>
