<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.official.mapper.I18nMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spring.official.domain.entity.I18nEntity">
            <id column="id" property="id"/>
            <id column="key_name" property="keyName"/>
            <id column="translation" property="translation"/>
            <id column="type_name" property="typeName"/>
            <id column="create_user" property="createUser"/>
            <id column="update_user" property="updateUser"/>
            <id column="update_time" property="updateTime"/>
            <id column="create_time" property="createTime"/>
            <id column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,key_name,translation,type_name,create_user,update_user,update_time,create_time,is_deleted
    </sql>

    <!-- 分页查询多语言表内容 -->
    <select id="selectListByPage" resultType="com.spring.official.domain.vo.I18nVo">
        select
        base.*,
        create_user.username as create_username,
        update_user.username as update_username
        from sys_i18n base
        left join sys_user create_user on create_user.id = base.create_user
        left join sys_user update_user on update_user.id = base.update_user
        <where>
            base.is_deleted = 0
                <if test="dto.id != null and dto.id != ''">
                    and base.id like CONCAT('%',#{dto.id},'%')
                </if>
                <if test="dto.keyName != null and dto.keyName != ''">
                    and base.key_name like CONCAT('%',#{dto.keyName},'%')
                </if>
                <if test="dto.translation != null and dto.translation != ''">
                    and base.translation like CONCAT('%',#{dto.translation},'%')
                </if>
                <if test="dto.typeName != null and dto.typeName != ''">
                    and base.type_name like CONCAT('%',#{dto.typeName},'%')
                </if>
                <if test="dto.createUser != null and dto.createUser != ''">
                    and base.create_user like CONCAT('%',#{dto.createUser},'%')
                </if>
                <if test="dto.updateUser != null and dto.updateUser != ''">
                    and base.update_user like CONCAT('%',#{dto.updateUser},'%')
                </if>
                <if test="dto.updateTime != null and dto.updateTime != ''">
                    and base.update_time like CONCAT('%',#{dto.updateTime},'%')
                </if>
                <if test="dto.createTime != null and dto.createTime != ''">
                    and base.create_time like CONCAT('%',#{dto.createTime},'%')
                </if>
                <if test="dto.isDeleted != null and dto.isDeleted != ''">
                    and base.is_deleted like CONCAT('%',#{dto.isDeleted},'%')
                </if>
        </where>
    </select>

</mapper>
