<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.security.authentication.jdbc.mapper.UserMapper">

    <!-- 查询用户信息 -->
    <select id="selectUserByUsername" resultType="example.security.authentication.jdbc.model.UserDetailsEntity">
        SELECT u.*, a.authority
        FROM users u
                 LEFT JOIN authorities a ON u.id = a.user_id
        WHERE u.username = #{username}
    </select>
</mapper>